<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
  http://www.springframework.org/schema/beans/spring-beans.xsd  
  http://www.springframework.org/schema/context   
  http://www.springframework.org/schema/context/spring-context-4.0.xsd
 ">

	<!-- @Compoment这类型注解的类都是需要被扫描 说白就是：让Spring的ApplicationContext去加载和初始化所有加了注解的类，给实例化 
		@Repository:数据层的dao @Service:service就是service @Controller:web比如：action和springmvc-controller类 -->
	<!-- 扫描文件所在dao包 -->
	<context:component-scan base-package="com.tz.dao"/>
	<context:component-scan base-package="com.tz.service"/>
	
<!-- 	BasicDataSource dataSource = new BasicDataSource(); -->
<!-- 	dataSource.setDriverClassName("com.mysql.jdbc.Driver"); -->
<!-- 	dataSource.setUrl("jdbc:mysql://localhost:3306/tzspring"); -->
<!-- 	dataSource.setUsername("root"); -->
<!-- 	dataSource.setPassword("xiaoer"); -->


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/tzspring?useUnicode=true&amp;characterEncoding=utf8"/>
		<property name="username" value="admin"/>
		<property name="password" value="some_pass"/>
	</bean>	
	
	<!-- springjdbctempte查询模板 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean>
</beans>
